html, body{
    scroll-behavior: smooth;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: rgba(13, 49, 253, 0.171);
    padding-top: 0px;
    margin-top: 0px;
}

.container-fluid {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.parceiros {
    background-color: rgba(40, 0, 116, 0.281);
    border-radius: 10px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.centralizar {
    text-align: center;
}

p, li {
    font-size: 20px;
}

.cursos{
    background-color: black;
}
.autodefesa{
    background-color: black;
    color: blanchedalmond;
}

.link-sem-estilo, .link-sem-estilo:hover, .link-sem-estilo:link{
    text-decoration:none; 
    color: #000;
}